################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/NovoCuidar_MVC/.vs/NovoCuidar_MVC/FileContentIndex/c5825c7f-783c-414b-880b-0923b4ee7cd6.vsidx
